* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baskerville", "Georgia", serif;
  font-size: 18px;
  line-height: 1.4;
  color: #222;
  background-color: #f1f8fb;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

main {
  width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  font-style: normal;
  color: #222;
  border-left: 3px solid #ccc;
  padding-left: 1rem;
  margin: 1rem 0;
}

hr {
  margin: 3rem 0;
  border: none;
}

ol, ul {
  list-style-position: inside;
  padding-left: 0;
}
